/**
******************************************************
* LES VARIABLES
******************************************************
*/

$colonne-nb: 12;

/**
******************************************************
* NOUVELLE LIGNE
******************************************************
*/

.ligne {
  width: 100%;
  table-layout: fixed;
  display: table;
}

/**
******************************************************
* LES COLONNES
******************************************************
*/

.col {
  display: inline-block;
  vertical-align: middle;
}

@for $i from 1 through $colonne-nb {
  .col-#{$i} {
    width: percentage(1 / $i);
  }
}

/**
******************************************************
* TESTS DESIGN
******************************************************
*/

.fond {
  height: 40px;

  &:nth-child(odd) {
    background-color: #222;
  }
  &:nth-child(even) {
    background-color: #AD141E;
  }
}
