/**
*******************************************************************************************************
* CONFIG
*******************************************************************************************************
*/

/**
******************************************************
* grille
******************************************************
*/

$colonne-nb:                      12;
$colonne-size:                    percentage(1 / 12);
/**
******************************************************
* barre
******************************************************
*/

$pc-taille:                       300px;
$pc-couleur:                      #fafafa;
$pc-couleur-lien:                 #222;
