/**
*******************************************************************************************************
* STYLES
*******************************************************************************************************
*/

body {
    font: 13px/16px arial,sans-serif;
    margin: 0;
    border: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}
