.barreGauche {
  border-right: 1px solid #e0e0e0;
  background: #fafafa;
  height: 100%;
  position: absolute;
  width: 100%;
  max-width: 300px; }
  .barreGauche .action {
    text-align: right;
    text-transform: uppercase;
    color: #fafafa;
    background-color: #c7c7c7;
    padding: 15px;
    font-size: 18px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer; }
    .barreGauche .action .mdi {
      font-size: 30px; }
  .barreGauche .content {
    width: 100%;
    display: block; }
    .barreGauche .content ul {
      padding: 0;
      margin: 0; }
      .barreGauche .content ul li {
        list-style: none;
        font-size: 20px;
        padding: 10px 0 10px 20px;
        cursor: pointer; }
        .barreGauche .content ul li:hover {
          background-color: #f2f2f2; }
        .barreGauche .content ul li a {
          text-decoration: none;
          color: #222; }
          .barreGauche .content ul li a .mdi {
            padding: 10px 25px 10px 10px;
            display: table-cell; }
